{extend name="common/frame" /}

{block name="cont"}
<style>
    .layui-upload-img {
        width: 130px;
    }
</style>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body">
                <form class="layui-form" lay-filter="form">
                    <input type="hidden" name="id" lay-verify="required" />
                    <div class="layui-form-item">
                        <label class="layui-form-label"> <span class="x-red"></span> </label>
                        <div class="layui-input-inline">
                            <video src="{$info.file}" autoplay="autoplay" controls="controls" muted="muted"  width="400" height="300"></video>
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red"></span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{/block}